<div class="card">
    <h5>Transaction</h5>
    <form [formGroup]="transactionForm" (submit)="submit()">
        <div class="field col-12 md:col-4">
            <label for="time">Date</label>
            <p-calendar [showTime]="true" inputId="time" formControlName="date"></p-calendar>
        </div>
        <p-table #dt
                 [value]="transactions"
                 responsiveLayout="scroll"
                 [rows]="10"
                 [globalFilterFields]="['name','country.name','representative.name','status']"
                 [paginator]="true"
                 [rowsPerPageOptions]="[10,20,30]"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [(selection)]="selectedTransactions" selectionMode="multiple"
                 [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Transaction Details</h5>
                    <button pButton type="submit" (click)="addNew()">add new</button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name">Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="description">Description
                        <p-sortIcon field="description"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="transaction"></p-tableCheckbox>
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Name</span>
                        {{ transaction.name }}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Description</span>
                        {{transaction.description }}
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editTransaction(transaction)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteTransaction(transaction)"></button>
                        </div>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </form>
</div>
