<div class="card">
    <p-toast></p-toast>
    <h5>Transaction</h5>
    <form [formGroup]="transactionForm" (submit)="submit()">
        <div class="grid" style="min-height:120px">
            <div class="field col-12 lg:col-6">
                <h5>
                    <label>Creation date </label>
                </h5>
                <p-calendar class="mr-4" [showTime]="true" inputId="time" formControlName="createdAt"></p-calendar>
            </div>

            <div class="field col-12 lg:col-6">
                <h5>
                    <label>Transaction type </label>
                </h5>
                <p-dropdown class="transaction-type" [options]="transactionTypes" formControlName="transactionType"
                            placeholder="Select a transaction type"></p-dropdown>
                <div>
                    <small class="ng-dirty ng-invalid"
                           *ngIf="transactionType?.errors?.required && (transactionType.dirty || transactionType.touched)">Transaction
                        is
                        required.</small>
                </div>
            </div>
        </div>
        <p-table #dt
                 [value]="transactionDetails"
                 responsiveLayout="scroll"
                 [rows]="200"
                 [paginator]="true"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Transaction Details</h5>
                    <button pButton (click)="addNewTransactionDetail()">Add New Product</button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code">Code
                        <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name">Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price
                        <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="unit">Unit
                        <p-sortIcon field="unit"></p-sortIcon>
                    </th>
                    <th pSortableColumn="category">Category
                        <p-sortIcon field="category"></p-sortIcon>
                    </th>
                    <th pSortableColumn="quantity">Quantity
                        <p-sortIcon field="quantity"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transactionDetail>
                <tr>
                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                        {{transactionDetail.product.code || transactionDetail.product.id}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Name</span>
                        {{transactionDetail.product.name}}
                    </td>
                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                        <img [src]="transactionDetail.product.image" [alt]="transactionDetail.product.name" width="100"
                             class="shadow-4"/>
                    </td>
                    <td style="width:14%; min-width:8rem;">
                        <span class="p-column-title">Price</span>
                        {{transactionDetail.price | currency:'USD'}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Unit</span>
                        {{transactionDetail.product.unit}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Category</span>
                        {{transactionDetail.product.category.name}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Quantity</span>
                        {{transactionDetail.quantity}}
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                    (click)="editTransactionDetail(transactionDetail)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteTransactionDetail(transactionDetail)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </form>
    <p-confirmDialog>
    </p-confirmDialog>
</div>
