<p-table #dt
         [value]="productQuantityDifferences"
         responsiveLayout="scroll"
         [rows]="200"
         [paginator]="true"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">

            <div style="flex: 1">
                <span>Inventory Check</span>
            </div>

            <div class="flex" style="align-items: center">
                <div class="mr-3">
                    <button pButton pRipple (click)="FixInventoryCheck()" label="Fix Inventory Check"></button>
                </div>
                <div class="mr-3">
                    <button pButton pRipple (click)="confirmInventory()" label="Confirm"  class="p-button-success"></button>
                </div>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Code
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Name
                <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">Quantity Difference
                <p-sortIcon field="quantity"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-index="rowIndex">
        <tr>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Code</span>
                {{product.code}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Name</span>
                {{product.name}}
            </td>
            <td style="width:14%; min-width:10rem;" [ngClass]="{'text-green': product.quantity == 0, 'text-red': product.quantity < 0, 'text-yellow': product.quantity > 0}">
                <span class="p-column-title">Quantity difference</span>
                {{product.quantity}}
                <i class="pi pi-check" *ngIf="product.quantity == 0"></i>
                <i class="pi pi-exclamation-circle" *ngIf="product.quantity < 0"></i>
                <i class="pi pi-exclamation-triangle" *ngIf="product.quantity > 0"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
        total records: {{state.totalRecords}}
    </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
