::ng-deep {

    .p-dropdown {
        width: 200px;
        height: 46px;
    }

    .p-placeholder {
        line-height: 21px;
    }

    .p-inputnumber {
        height: 46px;
    }
}

.product-item {
    display: flex;
    align-items: center;
    img {
        height: 25px;
        display: inline;
        margin-right: 10px;
    }
}

input {
    height: 46px;
}
