::ng-deep {
    .p-paginator-bottom * {
        display: none !important;
    }

    .p-paginator-left-content {
        display: block !important;
        padding: 15px 0;
    }

    .p-dropdown {
        width: 200px;
        height: 46px;
    }

    .p-placeholder {
        line-height: 21px;
    }
}

.product-item {
    display: flex;
    align-items: center;
    img {
        height: 25px;
        display: inline;
        margin-right: 10px;
    }
}

input {
    height: 46px;
}
