<form [formGroup]="transactionDetailsForm" (submit)="submit()">

    <div class="field">
        <h5>
            <label>Product </label>
        </h5>
        <p-autoComplete formControlName="product" [suggestions]="results" (completeMethod)="search($event)" (onSelect)="setDefaultValues($event)" field="name" [forceSelection]="true"></p-autoComplete>
        <div>
            <small class="ng-dirty ng-invalid" *ngIf="product?.errors?.required && (product.dirty || product.touched)">Product is
                required.</small>
        </div>
    </div>

    <div class="field">
        <h5>
            <label for="price">Price </label>
        </h5>
        <input type="number" id="price" name="price" formControlName="price" pInputText>
        <div>
            <small class="ng-dirty ng-invalid" *ngIf="price?.errors?.required && (price.dirty || price.touched)">Price is
                required.</small>
            <small class="ng-dirty ng-invalid" *ngIf="price?.errors?.min && (price.dirty || price.touched)">Price has to be
                >= {{price?.errors?.min.min}}.</small>
        </div>
    </div>

    <div class="field">
        <h5>
            <label for="quantity">Quantity </label>
        </h5>
        <input type="number" id="quantity" name="price" formControlName="quantity" pInputText>
        <div>
            <small class="ng-dirty ng-invalid" *ngIf="quantity?.errors?.required && (quantity.dirty || quantity.touched)">Quantity is
                required.</small>
            <small class="ng-dirty ng-invalid" *ngIf="quantity?.errors?.min && (quantity.dirty || quantity.touched)">Quantity has to be
                >= {{quantity?.errors?.min.min}}.</small>
        </div>
    </div>

    <div class="field submit-button">
        <button pButton type="submit">Submit</button>
    </div>

</form>
