<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTransaction.id">
    <h4>Transaction</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentTransaction.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentTransaction.description }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/transactions/{{ currentTransaction.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentTransaction">
    <br />
    <p>Please click on a Transaction...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentTransaction.id" class="edit-form">
    <h4>Transaction</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTransaction.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTransaction.description"
          name="description"
        />
      </div>
    </form>
    <button class="btn btn-danger mr-1" (click)="deleteTransaction()">
      Delete
    </button>
    <button
      type="submit"
      class="btn btn-success"
      (click)="updateTransaction()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentTransaction.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
